<div class="results-block">
    <%= render "layouts/messages" %>
</div>
<% if @friends %>
    <div class="card results-block">
        <table>
            <tbody>
                <% @friends.each do |friend| %>
                    <tr>
                        <td>Name:<strong><%= friend.full_name %></strong></td>
                        <td> Email:<strong> <%= friend.email %></strong></td>
                        <td>
                            Actions:<strong> <%= link_to 'View Profile', '#', class: "btn btn-sm btn-success" %></strong>
                            <% if current_user.not_friend_with?(friend) %>
                                <%= link_to('Follow friend?', '#', method: :post, class: "btn btn-success") %>
                            <% else %>
                                <span class="badge badge-secondary"> You are friend </span>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% end %>