<div class="results-block">
    <%= render "layouts/messages" %>
</div>
<% if @stock %>
    <div class="card results-block">
        Company:<strong><%= @stock.name %></strong>
        Ticker synbol:<strong> <%= @stock.ticker %></strong>
        Price:<strong> <%= @stock.price %></strong>
        <% if current_user.can_track_stock(@stock.ticker) %>
            <%= link_to('Add Portfolio', user_stocks_path(user: current_user, ticker: @stock.ticker), method: :post, class: "btn btn-success") %>
        <% else %>
            <span class="badge badge-secondary">
                You are already tracking 
                <% if current_user.is_tracking_stock(@stock.ticker)%>
                    this stock
                <% elsif current_user.reached_stocks_limit %>
                    10 stocks
                <% end %>
            </span>
        <% end %>
    </div>
<% end %>